div.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.settings {
    margin-top: 5rem;
    width: 20rem;
}

div.system input.button {
    margin: 1rem;
    width: 7rem;
}

form#wifi-update {
    margin-bottom: 3rem;
}